<%- include('../partials/header.ejs') %>

    <!-- Main -->
    <main class="container lg:max-w-5xl flex items-center grow flex-col mx-auto my-20 md:my-32 md:mt-12 md:mb-24 md:px-4">
      <!-- Text Header -->
      <h1 class="text-3xl pb-12">Upcoming Events</h1>

      <!-- Categories Container -->
      <div class="flex-col justify-center h-full bg-sky-200 px-8 w-full md:rounded-3xl border-y md:border border-slate-900 shadow-xl">

      <!-- IF CATEGORIES EXISTS -->
      <% if (data.categories.length) { %>
          
          <!-- FOR EACH CATEGORY IN CATEGORIES -->
          <% data.categories.forEach(category=>{ %>
            <!-- Category Container -->
            <div class="flex flex-col justify-center mx-auto bg-white border-2 border-slate-300 rounded-lg shadow-lg my-8">
              <!-- Category Title -->
              <div class="flex justify-center border-b-2 border-slate-900 w-full">
                <h1 class="text-3xl serif py-3"><%= category %></h1>
              </div>

              <!-- FOR EACH EVENT IN EVENTS -->
              <% data.events.forEach(event=>{ %>
                <% if (event.category === category) { %>
                  <!-- Event -->
                  <div class="flex flex-col p-3 space-y-8">
                    <a href="/events/<%= event.id %>" class="text-xl text-slate-600 p-2 rounded-3xl hover:bg-purple-200"><%= event.title %></a> 
                  </div>
                <% } %>
              <% }); %>
            </div>
          <% }); %>
      <% } else { %>

        <p class="text-center py-12 serif text-3xl">There are no events to display.</p>

      <% } %>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>